<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD FILES</title>
    <style>
        h1{
            font-size: 45px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
        }

        input{
            height: 25px;       
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/upload-files" method="POST" enctype="multipart/form-data">
            <div>
                <h1>UPLOAD FILES</h1>
                <input type="file" name ="upload_files" multiple>
            </div>

            <div>
                <input type="submit" name = "btn_upload_files" value="Upload">
            </div>
        </form>
    </div>
</body>
</html>